@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.maincontainer {
  width: 100%;
  height: 73vh;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
  overflow: hidden;
}

.backimg {
  background-image: url("/back.svg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: absolute;
  animation: backimg 1s ease-in-out;
  animation-fill-mode: forwards;
  /* border: 1px solid red; */
}
@keyframes backimg {
  0% {
    height: 20vh;
  }
  100% {
    height: 60vh;
  }
}
@media screen and (max-height: 600px) {
  .logoimg {
    top: 10rem !important;
  }
  .choleimg {
    top: 8rem !important;
  }
}
@media screen and (min-height: 740px) {
  .logoimg {
    top: 16rem !important;
  }
  .choleimg {
    top: 13rem !important;
  }
}
.choleimg {
  position: absolute;
  top: 7rem;
  /* right: 9rem; */
  transform: rotate(-20deg);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.258); */
  animation: chole 2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes chole {
  0% {
    right: -14rem;
    transform: rotate(20deg);
  }
  100% {
    right: 7rem;
    transform: rotate(-20deg);
  }
}

.logoimg {
  position: absolute;
  top: 5rem;
  left: 3rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  animation: logo 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes logo {
  0% {
    left: -3rem;
  }
  100% {
    left: 3rem;
  }
}

.navlinks {
  width: 100%;
  height: 3rem;
  position: absolute;
  top: 0rem;
  gap: 65px;
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  letter-spacing: 3px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.navlinks div {
  transition: 0.1s all;
  padding: 5px;
}

.navlinks div:hover {
  border-bottom: 4px solid rgb(255, 255, 255);
  cursor: pointer;
}

.welcomebox {
  /* border: 1px solid red; */
  text-align: center;
  animation: welcome 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes welcome {
  0% {
    margin-left: -10rem;
  }
}

.welcomebox h1 {
  /* width: 60%; */
  margin-left: 30px;
  text-align: left;
  font-size: 2rem;
  /* font-family: "Dancing Script", cursive; */
  color: rgb(0, 0, 0);
}
.welcomebox div {
  margin-left: 30px;
  text-align: left;

  color: rgba(0, 0, 0, 0.678);
}
.ourspecial {
  width: 95%;
  border-radius: 8px;
  padding: 20px 30px;
  margin: auto;
  margin-top: 6rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.217);
}

.ourspecial h2 {
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.specialcard {
  border-radius: 4px;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding-bottom: 10px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.142);
  border-bottom: 5px solid rgb(255, 128, 0);
}

.cardsbox {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btngrad {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  margin: 10px;
  /* padding: 15px 45px; */

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.269);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  margin: auto;
  font-weight: 500;
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.ordernow {
  margin-top: 4rem;
  margin-bottom: 1rem;
  background-color: #ff6900;
  /* height: 30vh; */
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.ourservices {
  width: 95%;
  border-radius: 4px;
  margin: auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.217);
  margin-bottom: 1rem;
  margin-top: 4rem;
  padding: 10px;
}
.ourservices h2 {
  text-align: center;
}

.ourservices div {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.menucontainer {
  width: 95%;
  padding-top: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.217);
  margin: auto;
  border-radius: 4px;
  margin-top: 4rem;
}

.menubox {
  width: 100%;
  /* height: 100vh; */
  margin: auto;

  border-radius: 4px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.menucate {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  padding: 10px;
  height: fit-content;
  border-top: 3px solid #ff6900;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}
.menutext {
  width: 100%;
  /* border: 1px solid red; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  background-color: #ff6900;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px;
  display: flex;
  color: #fff;
  /* font-family: "Dancing Script", cursive; */
  font-weight: bold;
  /* letter-spacing: 3px; */
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .choleimg {
    right: -4rem;
    width: 340px;
    height: 220px;
    transform: rotate(0deg);
    top: 11rem;
    animation: cholesm 2s ease-in-out;
    animation-fill-mode: forwards;
  }
}
@media (max-width: 500px) {
  .backimg {
    overflow: hidden;
    /* height: 30vh; */
  }
  .maincontainer {
    /* border: 1px solid black; */
    height: 60vh;
  }

  .menucate {
    width: 100%;
  }
  .ourservices div {
    width: 100%;
    font-size: 0.9rem;
  }
  .specialcard {
    width: 20rem;
  }
  .choleimg {
    right: -4rem;
    width: 280px;
    height: 180px;
    transform: rotate(0deg);
    top: 11rem;
    animation: cholesm 2s ease-in-out;
    animation-fill-mode: forwards;
  }
  .logoimg {
    top: 13rem;
    left: 5px;
    width: 100px;
    height: 100px;
    animation: logosm 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  .navlinks {
    font-size: 1.1rem;
    gap: 0;
    padding-right: 0;
  }
  .navlinks div {
    height: 3rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  width: 100%;
  padding: 30px;
  background-color: #ff6900;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.aboutus {
  width: 95%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.217);
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  margin-top: 4rem;
}
.aboutus h2 {
  text-align: center;
}
.aboutus div {
  width: 80%;
  text-align: center;
  margin: auto;
  font-weight: 500;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.87);
}

@keyframes cholesm {
  0% {
    right: -14rem;
    transform: rotate(-20deg);
    top: 0rem;
  }
  100% {
    right: -4rem;
    transform: rotate(20deg);
  }
}
@keyframes logosm {
  0% {
    top: 5rem;
    left: -3rem;
  }
  100% {
    top: 13rem;
    left: 5px;
  }
}
